<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4><img src="assets/iset.jpg" alt="iset" width="100px"></h4>
            </div>
            <div class="footer-col"style="margin-rigth:500px" >
                <h4>ISET KL</h4>
                <ul>
                    <li><a href="#">Adresse: Route Oued Khatf, BP 139 Kélibia - 8090 Kélibia,Tunisie</a></li>
                    <li><a href="#">Tel:(+216) 72 277 090</a></li>
                    <li><a href="#">Email:boc@isetkl.rnu.tn</a></li>

                </ul>
            </div>
            <div class="footer-col" style="margin-left:70%">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/isetkl/about/?ref=page_internal"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>